- name: Install nginx
  ansible.builtin.yum:
    name: nginx
    state: installed

    
- name: Download a frontend code and unzip
  ansible.builtin.unarchive:
    src: https://github.com/roboshop-devops-project/frontend/archive/main.zip
    dest: /tmp/frontend.zip
    remote_src: yes